@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border !scroll-smooth;
    }
    body {
        @apply bg-background text-foreground;
        overflow-x: hidden;
    }
    button {
        @apply active:outline-none;
    }
}

@layer utilities {
    .heading {
        @apply text-gradient translate-y-[40%] text-center text-4xl [transition:transform_1000ms_cubic-bezier(0.3,_1.17,_0.55,_0.99)_0s] md:text-5xl [.is-visible_&]:translate-y-0 mt-16 md:mt-14 mb-28 md:mb-40;
    }
    .subtitle {
        @apply bg-clip-text text-start md:text-center [transition:transform_1000ms_cubic-bezier(0.3,_1.17,_0.55,_0.99)_0s] [.is-visible_&]:translate-y-0 mt-5;
    }
    .heading-bottom-spacing {
        @apply pb-[2rem] md:pb-[4rem] pt-[2rem] md:pt-[10rem];
    }

    .title-size {
        @apply text-5xl md:text-7xl imac:text-8xl;
    }

    .subtitle-size {
        @apply text-xl md:text-3xl imac:text-4xl;
    }

    .composant-title-size {
        @apply text-lg md:text-2xl;
    }

    /* .text-gradient {
        @apply pointer-events-none whitespace-pre-wrap bg-gradient-to-b from-black to-gray-300/80 bg-clip-text font-semibold leading-none text-transparent dark:from-white dark:to-slate-900/30;
    } */
}

.text-gradient {
    background: linear-gradient(to right bottom, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0.1));
    background-clip: text;
    color: transparent;
}

.mask-radial-faded {
    mask-image: radial-gradient(circle at center center, #171717, transparent 100%);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Chevron */
/* styles/globals.css ou un fichier CSS spécifique */
@layer utilities {
    .chevron {
        @apply relative -mx-5; /* Réduit l'espacement horizontal entre les chevrons */
        opacity: 0;
        transform: translateX(0) scale(1);
    }

    .animate-chevron {
        animation: move-chevron 1.5s ease-out infinite;
    }

    .delay-1 {
        animation-delay: 0.3s;
    }

    .delay-2 {
        animation-delay: 0.6s;
    }

    @keyframes move-chevron {
        0%,
        100% {
            opacity: 0;
            transform: translateX(0) scale(0.5);
        }
        50% {
            opacity: 1;
            transform: translateX(0.5rem) scale(1); /* Réduit la translation pour les rapprocher */
        }
    }
}
